* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-color: #FFFFFF;
  --text-color: #000000;
  --label-color:#b1b0b0;
  --border-color: #000000;
  --button-bgColor: #000000;
  --button-text: #FFFFFF;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}

body.light {
  --bg-color: #FFFFFF;
  --text-color: #000000;
  --label-color:#b1b0b0;
  --border-color: #000000;
  --button-bgColor: #000000;
  --button-text: #FFFFFF;
}

input, textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: var(--border-color) 2px solid;
  outline: 0;
  background: 0;
  font-weight: 700;
  width: 100%;  
  margin-top: 5px;
}

.image {
  width: 500px;
}

.image img {
  width: 100%;
  height: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 20px 40px;
}

.content h1 {
  font-weight: 400;
  font-size: 48px;
}

.contactForm {
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.contactForm div label {
  color: var(--label-color);
}

.contactForm div input {
  height: 30px;
  transition: height .5s ease-in;
}

.contactForm div input:focus {
  height: 40px;
}

.contactForm div textarea {
  height: 50px;
  resize: none;
  transition: height .5s ease-in;
}

.contactForm div textarea:focus {
  height: 80px;
}

.contactForm button {
  background: var(--button-bgColor);
  color: var(--button-text);
  width: 150px;
  height: 30px;
  cursor: pointer;
}






